<h1>Dear new developer,</h1>
<div>
<p>We heartily thank you for your participation in our bourgeoning enterprise, and we hope that you implement our Item Search API in new and intriguing ways!</p>
</div>


<p>Your API key is here: <%= @user.api_key %></p>

<footer>Regards, the LittleShop Development Team</footer>
