<%= form_for([@store], html: { multipart: true }) do |form| %>

  <div class="field">
    <%= form.label :name %> <br />
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-sm btn-primary-outline", style: "margin-top:10px;"  %>
  </div>
<% end %>
