<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">My Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/orders">My Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stores">My Stores</a>
        </li>
      </ul>
		<div class="card-body">
			<%@stores.each do |store|%>
				<h4 class="card-title"><%= link_to store.name, store_items_path(store) %></h4>
				<p class="card-text"><%= store.status %></p>
		<% end %>
    </div>
	</div>
	</div>
