<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <h1>Create your store below</h1>
          <p>Fill in the details of your store below</p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <%= render 'form', store: @store %>
        </div>
    </div>
</div>


