<div class="container">
  <center>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Store</th>
          <th>Store Name</th>
          <th>Store Status</th>
        </tr>
      </thead>
      <tbody>
        <%= @stores.each do |store| %>
          <%= render partial: 'store', locals: { store: store } %>
        <% end %>
      </tbody>
    </table>
  </center>
</div>
