<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <h1>Sign up</h1>
          <p>Fill in the form below to join our platform </p>
        </div>
    </div>
</div>


<%= render partial: "form" %>

