<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">My Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/orders">My Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stores">My Stores</a>
        </li>
      </ul>
    </div>
<h1> Register this account as a developer? </h1>

<%= button_to "Register", "/settings/developer", method: :post%>