<b>Date:</b> <%= @order.date %><br />
<b>Name:</b> <%= @order.user.full_name %><br />
<a href="#address_form" class="btn  btn-info btn-sm" id="validate_address" data-toggle="collapse">
  Enter Shipping Address
</a>
<div class="address_container">
  <div id="address_form" class="collapse">
    <form action= "/orders" method="post">
      <div class="form-group col-md-6" >
        <label for="street_address">Street Address *</label>
        <input name="street_address" class="form-control" id="street_address" placeholder="123 House Lane" type="text" />
      </div>
      <div class="form-group col-md-6">
        <label for="city">City *</label>
        <input name="city" class="form-control" id="city" placeholder="Denver" type="text" />
      </div>
      <div class="form-group col-md-6">
        <label for="state">State *</label>
        <%= render partial: 'state_dropdown' %>
      </div>
      <div class="form-group col-md-6">
        <label for="zip_code">Zip Code *</label>
        <input name="zip" class="form-control" id="zip_code" placeholder="80000" type="text" />
      </div>
      <button type="submit" class="btn btn-success btn-sm col-md-6">Save</button>
      <input type="hidden" name="authenticity_token" value="">
    </form>
  </div>
</div>
