<b>Date:</b> <%= @order.date %><br />
<b>Name:</b> <%= @order.user.full_name %><br />
<a href="#address_form" class="btn  btn-info btn-sm" id="validate_address" data-toggle="collapse">
  Enter Shipping Address
</a>
<div class="address_container">
  <div id="address_form" class="collapse">
    <form action="">
      <div class="form-group col-md-6" >
        <label for="street_address">Street Address *</label>
        <input class="form-control" id="street_address" placeholder="123 House Lane" type="text" />
      </div>
      <div class="form-group col-md-6">
        <label for="city">City *</label>
        <input class="form-control" id="city" placeholder="Denver" type="text" />
      </div>
      <div class="form-group col-md-6">
        <label for="state">State *</label>
        <input class="form-control" id="state" placeholder="CO" type="text" />
      </div>
      <div class="form-group col-md-6">
        <label for="zip_code">Zip Code *</label>
        <input class="form-control" id="zip_code" placeholder="80000" type="text" />
      </div>
      <div class="form-group col-md-6">
        <label for="country">Country *</label>
        <input class="form-control" id="Country" placeholder="USA" type="text" />
      </div>
      <button type="submit" class="btn btn-success btn-sm col-md-6">Save</button>
    </form>
  </div>
</div>
