<div class="container">
  <center>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Order #</th>
          <th>Order Placed</th>
          <th>Order Status</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% @user.orders.each do |order| %>
          <%= render partial: 'order', locals: { order: order } %>
        <% end %>
      </tbody>
    </table>
  </center>
</div>
