<h1><%= link_to "New Category", new_platform_admin_category_path %></h1>

<% @categories.each do |category| %>
  <h3><%= category.title %></h3>
  <%= link_to "Edit Category", edit_platform_admin_category_path(category) %>
  <%= link_to "Delete Category", platform_admin_category_path(category), method: 'delete' %>
<% end %>
