@import "bootstrap";
@import "custom";

.cart_image{
  width: 3em;
  height: 4em;
}

.checkout{
  text-align: right;
  margin-left: auto;
  margin-right: auto;
}

.total{
  text-align: right;
  margin-left: auto;
  margin-right: auto;
}

h2{
  text-align: center;
  font-size: 3em;
}

.item-image {
  max-height: 100px;
  max-width: 100px;
}
