@import "bootstrap";
@import 'jquery-ui/core.css';
@import 'jquery-ui/datepicker.css';
@import 'jquery-ui/theme.css';
@import "custom";

body {
    background-color: BlanchedAlmond;
}

.card {
    background-color: #fff3e2;
    border-radius: 4px;
    padding-top: 8px;
    margin-bottom: 10px;
}

.search {
  width: 200px;
}

.center-div
{
     margin: 0 auto;
     width: 100px; 
}

.ui-menu .ui-menu-item{
    background:white;
    height:30px;
    font-size:20px;
} 

.ui-menu .ui-menu-item a {
  font-size: 300%;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    font-size: 200%;
    display: block;
    padding: 3px 15px;
    clear: both;  
    font-weight: normal;
    line-height: 18px;
    color: #555555
}

.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #e5bf85;
  padding: 5px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #e5bf85;
}

.searchButton {
  position: absolute;  
  right: -50px;
  left: 20em;
  width: 90px;
  height: 36px;
  border: 1px solid white;
  background: #e5bf85;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 25px;
  margin-top: 25px;
}

.popItemsWrapper {
    margin-top: 5em;
}