<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <h1>Edit Item </h1>
          <p>Make updates to the item below</p>
        </div>
    </div>
</div>

<%= render 'form', item: @item %>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <%= link_to 'Back', admin_items_path %>
        </div>
    </div>
</div>






