<html>
<head>
   <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>


<body> 





<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4" style="margin-top: 50px;">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Thank You</h3>
            </div>
            <div class="panel-body">
              You paid <%= number_to_currency(@amount / 100.0)%>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
          <p></p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
          <%= link_to "Explore more stores", root_path, class: "btn btn-success" %>
        </div>
    </div>
</div>



</body>

</html>




